.footer{
    background-color: var(--background-grey);
    padding-top: 60px;
    padding-bottom: 60px;
    
}
.footer__container{
    justify-content: center;
    @include tab{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    }
    @include desk {
    display: flex;
    align-items: baseline;
    }
}
.footer__container-adress{
text-align: center;
@include desk {
    text-align: start;
}
}
.footer__logo{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    color: var(--white-color);
    letter-spacing: 0.03em;
    text-decoration: none;
    margin-bottom: 20px;
    display: block;
}

.footer__logo-web{
    color: var(--accent-color);
    
}

.address li:not(:last-child){
    margin-bottom: 9px;
}
.address__link-physical{
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    color: var(--white-color);
    margin-top: 20px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,&:focus{color: var(--accent-color);}
}

.address__link{
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 60px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,&:focus{
        color: var(--accent-color);
    }
}

.join{
    margin-left: auto;
    @include desk{
    margin-left: 70px;
    }
    
}
.footer__header{
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
    margin-bottom: 20px;
    @include desk {
    text-align: start;
    }
}
.join__list{
    display: flex;
    justify-content: center;
}
.join__icon{
    fill: currentColor;
}
.join__link{
    color: var(--white-color);
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,&:focus{
        background-color: var(--accent-color);
    }
}
.join__item:not(:first-child){
    margin-left: 10px;
}

.subscription__form{
    align-items: center;
    @include desk{
    display: flex;
    }
    
}
.subscription{
    @include desk{
    margin-left: 93px;
    }

}
.subscription__header{
    color: var(--white-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: .03em;
    font-family: inherit;
    display: block;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}
.subscription__input{
    height: 50px;
    width: 450px;
    @include tab{
    max-width: 450px;
    }
    @include desk{
    width: 358px;
    
    }
    
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: inherit;
    padding-left: 16px;
    cursor: pointer;

    font-size: 16px;
    line-height: 1.25px;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);

    &::placeholder{
    
    font-size: 16px;
    line-height: 1.25;

    display: flex;
    align-items: center;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
    }
}

.subscription__btn{
    width: 200px;
    height: 50px;
    background: #2196F3;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,&:focus{
        background-color: #188ce8;
    }
}

.subscription__btn-text{
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;

    color: #FFFFFF;
}
.icon-send{
    fill:var(--white-color);
    margin-left: 10px;
}