.header__nav{
    display: none;
  @include tab {
    display: flex;
    align-items: center;
  }
}
.header{
    border-bottom: 1px solid #ECECEC;
    
}

.header__container{
    display: flex;
    align-items: center;
    height: 60px;
    
    @include tab {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.header__logo {
    color: var(--tittle-text-color);
    text-decoration: none; 
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    margin-right: 93px;
}
.header__logo-1 {
    color: var(--accent-color);
}
/* site-nav */
.site-nav{
    display: flex; 
}
.site-nav__items:not(:last-child){
    margin-right: 50px;
}
.current {
    color: var(--accent-color);
}

.current::after{
    content: '';
    position: absolute;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    
}
.call__emeil-icon{
    width: 16px;
    height: 12px;
    margin-right: 11px;
    fill: currentColor;
}
.call__tel-icon{
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
}

.site-nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--tittle-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus{color: var(--accent-color);

    }
}
.site-nav__link.current {
  color: var(--accent-color);
}

.call{
    display: none;
    margin-left: auto;
    @include tab {
    display: block;
    }
    @include desk {
    display: flex;
    padding-bottom: 32px;
    padding-top: 32px;
    
    
    
}
}
.call__items:not(:last-child){

    @include tab {
        margin-bottom: 10px;
    }
    @include desk{
        margin-right: 30px;
        margin-bottom: 0;
    }
}
.call__link{
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14px;
    text-decoration: none;
    
    
    
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus{color: var(--accent-color);}
}


