.filter{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.filter li:nth-child(1n+2){
    margin-left: 8px;
}
.filter__link{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    border-radius: 4px;
    padding: 6px 22px;
    border: none;
    cursor: pointer;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--tittle-text-color);
    background: #F5F4FA;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,&:focus{
            background-color:  var(--accent-color);
            color: var(--white-color);
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
            
        }
}

.galery__link{
    text-decoration: none;
    padding: 0;
    margin: 0;
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,&:focus{
        box-shadow:0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);;
    }
}


.galery{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-set-gap));
    margin-top: calc(-1 * var(--card-set-gap));
    
}

.galery-frame__title{
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
    
    color: var(--tittle-text-color);
}
.galery-frame__text{
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
.galery-frame{
border: 1px solid #EEEEEE;
border-top: none;
padding: 20px 24px;
}
.galery__list{
    flex-basis: calc(100%/3 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);   
    
}


.galery__image {
    position: relative;
    overflow: hidden;
}
.galery__text{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    
    background: rgba(33, 150, 243, 0.9);
    color: var(--white-color);

    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    .galery__link:hover &,
    .galery__link:focus &{
        transform: translateY(0);
    }
}
