:root{
    --primary-text-color: #757575 ;
    --tittle-text-color: #212121;
    --accent-color:#2196F3;
    --white-color:#ffffff;
    --background-grey: #2F303A;
    --background-light-grey: #F5F4FA;
    --card-set-gap: 30px;
    --icon-color: #AFB1B8;
}